body {
  font-size: 15px;
  line-height: 30px;
  color: #9c9c9c;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
}

a {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
}

* {
  outline: 1px solid green;
}


.map-popup,
.main-form {
  display: none;
}

.cut {
  min-width: 1200px;
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 2px solid red;
  box-sizing: border-box;
}

header {
  margin-top: 40px;
  padding-top: 22px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 300px;
  background-color: #f7e296;
  box-sizing: border-box;
}

header .index-logo {
  margin-top: -40px;
  margin-bottom: 40px;
}

.header-top-wrap {
  margin-bottom: 52px;
}

.search {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.enter-exit {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.header-top {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

header ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header li {
  display: inline-block;
  vertical-align: top;
}

.header-top ul {
  float: right;
}
.header-top li {
  text-align: right;
  min-width: 100px;
}
.header-top li:last-child {
  margin-left: 20px;
}

.slider {
  margin-bottom: 105px;
}

.slider-wrap {
  text-align: center;
  margin-top: -120px;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

#radio-1:checked ~ .slider-wrap .slide-1 {
  display: block;
}

#radio-2:checked ~ .slider-wrap .slide-2 {
  display: block;
}

#radio-3:checked ~ .slider-wrap .slide-3 {
  display: block;
}

.slider li {
  display: inline-block;
  vertical-align: top;
}

.slider-image {
  display: inline-block;
  vertical-align: top;
  width: 384px;
  height: 486px;
  text-align: left;
  line-height: 0;
}

.slider-image img,
.map img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.slider-text h2,
.info-about-us h2 {
  margin: 0;
}

.slider-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 85px;
  text-align: left;
  width: 500px;
  box-sizing: border-box;
}

.features ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-text p {
  margin-bottom: 60px;
}

.slider-toggle {
  position: absolute;
  top: 580px;
  right: 600px;
}

.catalog-nav {
  position: relative;
}

.catalog-nav,
.extra-nav {
  width: 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra-nav:first-child li {
  min-width: 240px;
}

.extra-nav:last-child li {
  min-width: 120px;
  margin-right: 40px;
}

.extra-nav li:last-child {
  float: right;
  margin-right: 0;
}

.slider input,
.service input {
  display: none;
}

.features {
  text-align: left;
  margin-top: 70px;
}

.feature-item,
.feature-desicription {
  display: block;
}

.features li {
  margin-right: 80px;
}

.catalog {
  margin-bottom: 88px;
}

.catalog-menu {
  position: absolute;
  width: 200%;
  min-height: 133px;
}

.catalog-menu .column-1,
.catalog-menu .column-2,
.catalog-menu .column-3 {
  display: inline-block;
  max-width: 200px;
}

.column-2,
.column-3 {
  margin-left: 40px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list li{
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  width: 160px;
}

.catalog-list li:last-child {
  margin-right: 0;
}

.catalog-list a {
  display: block;
}

.catalog-item {
  height: 160px;
  background-color: #f7e296;
}

.delivery-text,
.warranty-text,
.credit-text {
  display: none;
}

#delivery:checked ~ .service-wrap .delivery-text {
  display: block;
}

#warranty:checked ~ .service-wrap .warranty-text {
  display: block;
}

#credit:checked ~ .service-wrap .credit-text {
  display: block;
}

.service {
  margin: 0 -9999px;
  padding: 0 9999px;
  background-color: #e5e5e5;
}

.service-wrap {
  padding-top: 80px;
  padding-bottom: 80px;
}

.service ul {
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service li {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 160px;
  text-align: center;
}

.service-text {
  display: inline-block;
  vertical-align: top;
}

.service-text p {
  margin: 0;
  width: 460px;
}

.service span {
  display: block;
}

.brands-logo ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.brands-logo li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  width: 260px;
}

.brands-logo li:last-child {
  margin-right: 0;
}

.info-about-us {
  padding-top: 45px;
  margin-bottom: 95px;
}

.about-us {
  display: inline-block;
  vertical-align: top;
  padding-right: 130px;
  width: 560px;
  box-sizing: border-box;
}

.contacts {
  display: inline-block;
  vertical-align: top;
  width: 560px;
}

.about-us p {
  margin-bottom: 70px;
}

.partners {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  list-style-type: none;
}

.about-us a,
.contacts a {
  display: inline-block;
  vertical-align: top;
}

.map-popup {
  position: absolute;
  top: 1660px;
  right: 450px;
}

.map-popup button[name="close"] {
  position: absolute;
  top: 20px;
  left: 900px;
}

.main-form {
  position: absolute;
  top: 1750px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 960px;
  height: 552px;
  padding: 100px;
  padding-bottom: 90px;
  background-color: lightblue;
  box-sizing: border-box;
}

label[for="name"] {
  margin-right: 320px;
}

label[for="letter"] {
  display: block;
  margin-top: 40px;
}

input[name="name"] {
  margin-right: 32px;
  width: 360px;
  height: 40px;
}

input[name="email"] {
  width: 360px;
  height: 40px;
}

textarea[for="letter"] {
  width: 960px;
}

.main-form button[type="submit"] {
  margin-top: 54px;
}

.main-form button[name="close"] {
  position: absolute;
  top: 20px;
  left: 900px;
}

footer {
  margin: 0 -9999px;
  padding: 65px 9999px;
  background-color: #464646;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li,
.footer-top ul,
.footer-nav {
  display: inline-block;
  vertical-align: top;
}

.footer-top {
  margin-bottom: 40px;
}

footer .index-logo {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.footer-top-wrap {
display: inline-block;
vertical-align: top;
width: 70%;
text-align: right;
}

.footer-top li {
  width: 120px;
  text-align: right;
}

.footer-middle {
  margin-bottom: 65px;
}

.adress {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.tel {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: right;
}

footer nav{
  display: inline-block;
  vertical-align: top;
  width: 60%;
  text-align: center;
}

.footer-nav li {
  display: inline-block;
  vertical-align: top;
}

.footer-nav li:nth-child(-n+2) {
  margin-right: 10px;
}

.footer-bottom {
  position: relative;
}

.social {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
}

.made-by {
  position: absolute;
  top: 0;
  right: 0;
}

/*========DEVICE-INNER=======*/

.inner-align {
  margin-left: 60px;
}

.inner-nav {
  padding-top: 44px;
  padding-bottom: 50px;
  height: 180px;
  box-sizing: border-box;
}

.inner-nav-caption {
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs li{
  display: inline-block;
  vertical-align: top;
}

.filter {
  float: left;
  padding-left: 9999px;
  margin-left: -9999px;
  width: 270px;
  background-color: #eeeeee;
}

.filter-product-wrap::after {
  content: "";
  clear: both;
  display: table;
}

.filter h4 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
  box-sizing: border-box;
}

.filter>h4 {
  margin: 0 0 0 -9999px;
  padding-left: 9999px;
  background-color: #dbdbdb;
}

.inner-form {
  padding-top: 70px;
  padding-right: 70px;
  background-color: #eeeeee;
}

fieldset {
  margin: 0;
  padding: 0;
}

.filter fieldset:first-child,
.filter fieldset:nth-child(3) {
  min-height: 140px;
}

.filter fieldset:nth-child(2) {
  min-height: 285px;
}

.color label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
  min-width: 181px;
}

.inner-form label[for="yes"],
.inner-form label[for="no"] {
  display: inline-block;
  vertical-align: top;
  width: 181px;
}

.inner-form button[type="submit"] {
  margin-top: 50px;
}

.products {
  float: right;
  width: 830px;
  background-color: #eeeeee;
}

.products h4 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
  box-sizing: border-box;
}

.sort {
  padding-right: 9999px;
  margin-right: -9999px;
  background-color: #eeeeee;
}

.sort h4,
.sort li {
  display: inline-block;
  vertical-align: top;
}

.sort ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.sort-list li {
  width: 100px;
}

.sort-list li:last-child {
  width: 140px;
}

.triangles,
.triangles ul,
.triangles li {
  display: inline-block;
  vertical-align: top;
}

.triangles {
  float: right;
}

.article-wrap {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  box-sizing: border-box;
  background-color: white;
}

.box {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 70px;
  width: 360px;
  height: 440px;
}

.image-box img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.box:nth-child(odd) {
  margin-right: 40px;
}

.article-cost {
  float: right;
}

.pagination {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eeeeee;
}

.pagination ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  text-align: center;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  text-align: center;
}

.btn-prev {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: left;
}

.btn-next {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: right;
}
